layout {
  &.narrow {
    max-width: 250px;
  }
}

.signin {
  padding: 20px 0 !important;

  &__column {
    max-width: 450px;
  }

  &__form {
    text-align: left;
  }

  &__message {
    text-align: center;
  }
}
